body{
    font-family: Arial,serif;
    background-color: #444444;
}
#hits{
/*
    background-color:#FFFFFF;
    height: 90%;
    width: 30%;
    overflow-y: scroll;
    position: fixed;
    right: 0px;
    top: 10%;
*/
}
#main{
    background-color:#212744;
    width: 98%;
    text-align: left;
    word-wrap: break-word;
    border: 1px solid transparent;
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0px 1px 3px 0px #000000;
    position: absolute;
    color: #FFFFFF;
    top:0pt;
    left: 1%;
    margin: auto;
    padding-bottom: 2pt;
}
#innermain{
    padding-left: 10px;
}
#navi{
    background-color: #2F3660;
    width: 100%;
    color: #FFFFFF;
    height: 80pt;
    font-weight: bold;
    overflow: auto;
    padding-left: -10pt;
    border: 0px solid #FFFFFF;
    border-top: 8px solid #212744;
}
#knopp{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#334C00;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #3B5600;
    border-left: 2px solid #3B5600;
    border-right: 2px solid #223300;
    border-bottom: 2px solid #223300;
    margin: 2pt;
    line-height: 20pt;
    letter-spacing: 2pt;
}
#knoppdelete{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#3D1C1C;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #632D2D;
    border-left: 2px solid #632D2D;
    border-right: 2px solid #3D2929;
    border-bottom: 2px solid #3D2929;
    margin: 2pt;
    line-height: 20pt;
    letter-spacing: 2pt;
}
#knoppedit{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#227777;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #449999;
    border-left: 2px solid #449999;
    border-right: 2px solid #005555;
    border-bottom: 2px solid #005555;
    margin: 2pt;
    line-height: 20pt;
}
#knoppdownload{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#220022;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #EE99EE;
    border-left: 2px solid #EE99EE;
    border-right: 2px solid #110011;
    border-bottom: 2px solid #110011;
    margin: 2pt;
    line-height: 20pt;
    letter-spacing: 2pt;
}
#knoppread{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#3F2B00;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #563900;
    border-left: 2px solid #563900;
    border-right: 2px solid #261A00;
    border-bottom: 2px solid #261A00;
    margin: 2pt;
    line-height: 20pt;
    letter-spacing: 2pt;
}
#knoppdownload{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#882288;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #995599;
    border-left: 2px solid #995599;
    border-right: 2px solid #663366;
    border-bottom: 2px solid #663366;
    margin: 2pt;
    line-height: 20pt;
    letter-spacing: 2pt;
}
#knopp:hover{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#77CC77;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #88DD88;
    border-left: 2px solid #88DD88;
    border-right: 2px solid #66BB66;
    border-bottom: 2px solid #66BB66;
    margin: 2pt;
    line-height: 20pt;
    letter-spacing: 2pt;
    box-shadow: 0px 0px 10px #77CC77;
}
#knoppdelete:hover{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#CC7777;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #DD8888;
    border-left: 2px solid #DD8888;
    border-right: 2px solid #BB6666;
    border-bottom: 2px solid #BB6666;
    margin: 2pt;
    line-height: 20pt;
    letter-spacing: 2pt;
    box-shadow: 0px 0px 10px #CC7777;
}
#knoppedit:hover{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#77CCCC;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #99EEEE;
    border-left: 2px solid #99EEEE;
    border-right: 2px solid #55AAAA;
    border-bottom: 2px solid #55AAAA;
    margin: 2pt;
    line-height: 20pt;
    box-shadow: 0px 0px 10px #77CCCC;
}
#knoppdownload:hover{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#CC77CC;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #EE99EE;
    border-left: 2px solid #EE99EE;
    border-right: 2px solid #AA55AA;
    border-bottom: 2px solid #AA55AA;
    margin: 2pt;
    line-height: 20pt;
    letter-spacing: 2pt;
    box-shadow: 0px 0px 10px #CC77CC;
}
#knoppread:hover{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#DDCC77;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #EEDD88;
    border-left: 2px solid #EEDD88;
    border-right: 2px solid #CCBB66;
    border-bottom: 2px solid #CCBB66;
    margin: 2pt;
    line-height: 20pt;
    letter-spacing: 2pt;
    box-shadow: 0px 0px 10px #DDCC77;
}
#menuitem{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#435189;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #495A96;
    border-left: 2px solid #495A96;
    border-right: 2px solid #212A44;
    border-bottom: 2px solid #212A44;
}


#addknopp{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#435189;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #495A96;
    border-left: 2px solid #495A96;
    border-right: 2px solid #212A44;
    border-bottom: 2px solid #212A44;
}
#addknopp:hover{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#435189;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #495A96;
    border-left: 2px solid #495A96;
    border-right: 2px solid #212A44;
    border-bottom: 2px solid #212A44;
    box-shadow: 0px 0px 10px #435189;

}

#info{
    color: #BBBBBB;
    font-size: 10pt;
}



#right{
    text-align: right;
}
h1 {
    display:inline;
    margin:0px;
}
h2 {
    display:inline;
    margin:0px;
}
h3 {
    display:inline;
    margin:0px;
}
h4 {
    display:inline;
    margin:0px;
}
h5 {
    display:inline;
    margin:0px;
}
h6 {
    display:inline;
    margin:0px;
}
#left{
    text-align: left;
}
input[type=submit]{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#435189;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #495A96;
    border-left: 2px solid #495A96;
    border-right: 2px solid #212A44;
    border-bottom: 2px solid #212A44;
}
input[type=file]{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#435189;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #88DD88;
    border-left: 2px solid #88DD88;
    border-right: 2px solid #66BB66;
    border-bottom: 2px solid #66BB66;
}
a{
    color: #FFFFFF;
}
input[type=text]{
    color:#FFFFFF;
    font-weight: bold;
    text-decoration: none;
    background-color:#435189;
    border: 1px solid white;
    border-top: 2px solid #212A44;
    border-left: 2px solid #212A44;
    border-right: 2px solid #495A96;
    border-bottom: 2px solid #495A96;
    width: 160;
}
input[type=password]{
    color:#55AA55;
    font-weight: bold;
    text-decoration: none;
    background-color:#FFFFFF;
    border: 1px solid white;
    border-top: 2px solid #66BB66;
    border-left: 2px solid #66BB66;
    border-right: 2px solid #88DD88;
    border-bottom: 2px solid #88DD88;
    width: 160;
}
textarea {
    color:#FFFFFF;
    font-weight: bold;
    text-decoration: none;
    background-color:#435189;
    border: 1px solid white;
    border-top: 2px solid #212A44;
    border-left: 2px solid #212A44;
    border-right: 2px solid #495A96;
    border-bottom: 2px solid #495A96;
    width: 99%;
    height: 200pt;
    border-radius: 5px 5px 5px 5px;
}
#content{
    background-color:#2F3660;
    width: 96.7%;
    text-align: left;
    padding-left: 1%; 
    padding-right: 1%; 
    word-wrap: break-word;
    border: 1px solid #000000;
    border-radius: 4px 4px 4px 4px;
}
#hits a{
    text-decoration: none;
    text-shadow: 1px 0px 1px #000000;
    font-weight: bold;
/*
    color:#FFFFFF;
    text-decoration: none;
    background-color:#5555FF;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white;
    border-top: 2px solid #DDDDFF;
    border-left: 2px solid #DDDDFF;
    border-right: 2px solid #9999BB;
    border-bottom: 2px solid #9999BB;
    line-height: 200%;
*/
}

#foot{
    text-align: left;
    color: #777777;
    font-weight: Bold;
    font-size: 8pt;
}