body{
    font-family: Arial,serif;
}
#hits{
/*
    background-color:#FFFFFF;
    height: 90%;
    width: 30%;
    overflow-y: scroll;
    position: fixed;
    right: 0px;
    top: 10%;
*/
}
#main{
    background-color:#FFFFEE;
    width: 98%;
    text-align: left;
    word-wrap: break-word;
    border: 1px solid lightgray;
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0px 1px 3px 0px #BBBBBB;
    position: absolute;
    top:0pt;
    left: 1%;
    margin: auto;
}
#innermain{
    padding-left: 10px;
}
#navi{
    background-color: #99EE99;
    width: 100%;
    color: #FFFFFF;
    height: 60pt;
    font-weight: bold;
    overflow: auto;
    padding-left: -10pt;
    border: 0px solid #FFFFFF;
    border-top: 8px solid #88DD88;
}
#knopp{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#77CC77;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #88DD88;
    border-left: 2px solid #88DD88;
    border-right: 2px solid #66BB66;
    border-bottom: 2px solid #66BB66;
    margin: 2pt;
    line-height: 20pt;
    letter-spacing: 2pt;
}
#knoppdelete{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#CC7777;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #DD8888;
    border-left: 2px solid #DD8888;
    border-right: 2px solid #BB6666;
    border-bottom: 2px solid #BB6666;
    margin: 2pt;
    line-height: 20pt;
    letter-spacing: 2pt;
}
#knoppread{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#DDCC77;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #EEDD88;
    border-left: 2px solid #EEDD88;
    border-right: 2px solid #CCBB66;
    border-bottom: 2px solid #CCBB66;
    margin: 2pt;
    line-height: 20pt;
    letter-spacing: 2pt;
}
#right{
    text-align: right;
}
h1 {
    display:inline;
    margin:0px;
}
#left{
    text-align: left;
}
input[type=submit]{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#77CC77;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #88DD88;
    border-left: 2px solid #88DD88;
    border-right: 2px solid #66BB66;
    border-bottom: 2px solid #66BB66;
}
input[type=file]{
    color:#FFFFFF;
    text-decoration: none;
    background-color:#77CC77;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid white;
    border-top: 2px solid #88DD88;
    border-left: 2px solid #88DD88;
    border-right: 2px solid #66BB66;
    border-bottom: 2px solid #66BB66;
}
input[type=text]{
    color:#55AA55;
    font-weight: bold;
    text-decoration: none;
    background-color:#FFFFFF;
    border: 1px solid white;
    border-top: 2px solid #66BB66;
    border-left: 2px solid #66BB66;
    border-right: 2px solid #88DD88;
    border-bottom: 2px solid #88DD88;
    width: 160;
}
input[type=password]{
    color:#55AA55;
    font-weight: bold;
    text-decoration: none;
    background-color:#FFFFFF;
    border: 1px solid white;
    border-top: 2px solid #66BB66;
    border-left: 2px solid #66BB66;
    border-right: 2px solid #88DD88;
    border-bottom: 2px solid #88DD88;
    width: 160;
}
#content{
    background-color:#FFFFFF;
    width: 96.7%;
    text-align: left;
    padding-left: 1%; 
    padding-right: 1%; 
    word-wrap: break-word;
    border: 1px solid lightgray;
    border-radius: 4px 4px 4px 4px;
}
#hits a{
    text-decoration: none;
    text-shadow: 1px 0px 1px #000000;
    font-weight: bold;
/*
    color:#FFFFFF;
    text-decoration: none;
    background-color:#5555FF;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white;
    border-top: 2px solid #DDDDFF;
    border-left: 2px solid #DDDDFF;
    border-right: 2px solid #9999BB;
    border-bottom: 2px solid #9999BB;
    line-height: 200%;
*/
}